:root {
  --color-primary-blue: #6173ff;
  --color-primary-blue-hover: #7a88f4;
  --color-primary-green: #26baa4;
  --color-primary-green-hover: #5ed4c2;

  --gray-dark: hsl(210, 10%, 33%);
  --gray-light: hsl(201, 11%, 66%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Bai Jamjuree", sans-serif;
}

body {
  color: var(--gray-light);
  box-sizing: border-box;
  font-size: 1.8rem;
  font-weight: 400;
  overflow-x: hidden;
}

ul {
  list-style: none;
}
